<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- PERMISO CAMARA, LECTURA Y ESCRITURA EN SISTEMA DE ARCHIVOS -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".FireEmblem"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FireEmblem"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.activity.PullActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.CamaraActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.CombateActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.PrepararCombateActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.VerUnidadActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.CrearUnidadActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.PrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FireEmblem"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>